version: '3'
services:
  web:
    build: .
    volumes:
      - C:/Users/ripll/PycharmProjects/UrlShortener:/app
    ports:
      - "80:80"
    depends_on:
      - db
  db:
      image: "postgres"
      environment:
        - POSTGRES_USER=evo_user
        - POSTGRES_PASSWORD=evo_password
        - POSTGRES_DB=urlshortener
      volumes:
        - database-data:/var/lib/postgresql/data/

volumes:
  database-data: