{% extends "base.html" %}

{% block title %}- Your link{% endblock %}

{% block content %}
<form>
  <h1>Your link:</h1>
  <div class="form-group row">
    <div class="col-sm-12">
        <input type="text" readonly class="form-control"
               id="staticLink" onClick="this.setSelectionRange(0, this.value.length)"
               value="{{url_for('index') + id}}">
    </div>
  </div>
  <a class="btn btn-primary" href="{{url_for('index')}}" role="button">Create new one</a>
</form>


{% endblock %}